button {
    font-size: 1.4em;
    font-weight: bold;
    padding: 10px 30px;
}
.nav_area{
  position:absolute;
  top: 10px;
  left: 20px;
}
.start_button{
}

body {
  background: black;
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
}
.slot {
  position: absolute;
  width: 74px;
  height: 100%;
/*
  animation-duration: 6s;  
  animation-timing-function: linear;
  animation-name: fadeIn;
*/
}
.s{
  background: white;
  z-index:10;
}
.n{
  opacity: 0;
  background: black;
}
.slot_container{
  position:absolute;
}
.slot1{ margin-left: 1px; }
.slot2{ margin-left: 75px; }
.slot3{ margin-left: 150px; }
.slot4{ margin-left: 225px; }
.slot5{ margin-left: 300px; }
.slot6{ margin-left: 375px; }
.slot7{ margin-left: 448px; }
.slot8{ margin-left: 523px; }
.slot9{ margin-left: 600px; }
.slot10{ margin-left: 675px; }
.slot11{ margin-left: 750px; }
.slot12{ margin-left: 821px; }
.grid-container{
  display: grid;
}
.grid {
  grid-template-columns:100px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  grid-gap: 1px;
  background: white;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
}
 
.footer{
	z-index:99;
}
.grid-item {
  background: black;
  height: 500px;
}
.box{
  width: 10px;
  height: 10px;
  border: solid black 1px;
  float: left;
}
.ybox{
  background: orange;
}
.wbox{
  background: white;
}
.rbox{
  background: red;
  width: 58px;
}
.box-grid{
  margin-top: 10px;
  background: black;
  border: black;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.box-container{
  float: left;
}
 
/* Demo Specific Styles */
.bar{
  z-index:5;
  width: 100%;
  height: 10px;
  background: red;
}
@keyframes fadeIn {
    from {
        top:0px;
    }
    to {
    	top:1200px;
    }
}

